[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
supabase = "*"
psycopg2 = "*"
flask = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
